data/flows.json
[{"id":"2c9bc31cb6ec841a","type":"tab","label":"Web Demo","disabled":false,"info":""},{"id":"15807419e413739d","type":"group","z":"2c9bc31cb6ec841a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["0abf075bc20480ec"],"x":1554,"y":1399,"w":172,"h":82},{"id":"706ca2ff8761a004","type":"group","z":"2c9bc31cb6ec841a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["f1844f866f9c574a","29dde913e3250d58","94cf09fa1a5b026c","fc1207f579bdd37e","da4b5fe40b065391","8390b7b810f8c317","ac83e8188bf90aab","a8e68d77f44f46bc","bec9c579326e7aca","bfbdf46f152b11db","9e7f57a34a1008bb","a6fd7aa2e851f7aa","b04aa68a0f70eb62","14fd131a552cd484","81936b2f222a8b57","02d822aa3dd885ef","7df19c28f4e2f349","fedd423739f5624e","1ed368b3cb25d3d2"],"x":74,"y":139,"w":1232,"h":302},{"id":"8a6fdee3dd680637","type":"group","z":"2c9bc31cb6ec841a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["fbc772b2cde0cb91","3d1761ecdf11b6f0","3dad688c0563e201","7ba8498d7028974e","842ba1e7b0c7e90a","c9ce40cc817b363e","1e4f512341cde16b","e72cd0dd92eb6dbb","f795ad889676413f","9f94b0468da8a2fd","56724273b816f223","4338c13b77678939","659be8f76104a640","2c21283e21d72ced","ad3fae3a4a8001f8","38dabeb13b231451","cde6f1e06d571ef7"],"x":1374,"y":99,"w":752,"h":382},{"id":"aecd6d22fcbbabb6","type":"group","z":"2c9bc31cb6ec841a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bb9329283ace51f0","de5c4044.d4e0f","e0ec963913cbf7a9","ffa9fc31457a8171","bcdfce19296044e2","41d9ebb7da2aa0d5","dc356280f86f8bf2","84a7cacb9137eece","c3b23a18cfcb6d37","8ae66a04d71203ef","c2fd9a76915a9861","8cceda94fc148d0b","d344949083380c4a","9dfaef7bf675ce2b","093832edeab62ead","67544703c49b59a2"],"x":74,"y":739,"w":1252,"h":322},{"id":"b06f557ea8665b15","type":"group","z":"2c9bc31cb6ec841a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["11a0618ca53014d6","6d121dfcf195c5a2","276c6863cc8cb824","832f13eb2fb48801","c18727dde5b32289","e456a18a21bd308c","74b01f43e12dd0a7","02cc312dfbd0efb2","da52db772d70e7a0","a88f88773b249e30","c7272045d027341e","86b8faef6f530d52","9b29702871540553","21badc4e77f267cb","c2d6064839c896a6"],"x":74,"y":1579,"w":1352,"h":282},{"id":"b3bc47b3d01f6db2","type":"group","z":"2c9bc31cb6ec841a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["10ef0accc3d74b8b","f63e543568e34733","623524b6303276ef","b77cc0c482c7eada","8b322ac8d5e7e70c","0f1506fa5972845e"],"x":74,"y":499,"w":532,"h":162},{"id":"c4840814ae1d9c88","type":"group","z":"2c9bc31cb6ec841a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["c1d9ef739ec17dab","02620d3304035ba3","d7ba0a0a910f20fe","11fa59b5543a51a0","44858495f61f435f","6027ccab22a19b9f","b0bc13f949468e96","f96abec6cf68d3cb","e3a76ac3fae7f699"],"x":1374,"y":539,"w":732,"h":282},{"id":"c491f8a96912ebeb","type":"group","z":"2c9bc31cb6ec841a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a783a5548895afa4","6683a4286808e956"],"x":634,"y":539,"w":252,"h":122},{"id":"e904b498183f94bb","type":"group","z":"2c9bc31cb6ec841a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["7aad57c3dfb36f6a","2de09eec5c8b46ef","bfb0d161425a77cd","351deff897ebb3f3","57fc5be9065b3562","3462d5db93be1d8e","5709011f81c05b11","a16b9b2e295039c9","4449cc9ff650b8c0","bca8d12501eaa10e","3101f54977960978","b892f8d1e0fa017e","29e9df06067a7d44","0d2c59e4d06c3c4f","a396b50bedb46f9c","ca35be109f0515d6","2f68ae41244e3466","eeda7de2dd84cee6","4dfc1b0a07a0a5e3","9f5da12acb61d772","326adc5901095e88","56519b09968589c0","e8d0f13d6b8538ab"],"x":74,"y":1119,"w":1452,"h":402},{"id":"e56329a450463e8c","type":"group","z":"2c9bc31cb6ec841a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["262267dc937f26c9","0cdf7a08ee95fb2c"],"x":914,"y":539,"w":432,"h":82},{"id":"f1844f866f9c574a","type":"http request","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"Read sensored data","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":860,"y":220,"wires":[["94cf09fa1a5b026c"]]},{"id":"29dde913e3250d58","type":"function","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"Set GET request","func":"const THINGSPEAK_CHANNEL_ID = global.get('THINGSPEAK_CHANNEL_ID');\nconst THINGSPEAK_READ_KEY = global.get('THINGSPEAK_READ_KEY');\n\nmsg.method = \"GET\"\nmsg.url = `https://api.thingspeak.com/channels/${THINGSPEAK_CHANNEL_ID}/feeds.json`\nmsg.payload = {\n    \"api_key\": THINGSPEAK_READ_KEY,\n    \"timezone\": \"Asia/Bangkok\",\n    \"status\": true,\n    \"start\": `${msg.start || ''}`,\n    \"end\": `${msg.end || ''}`\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":220,"wires":[["f1844f866f9c574a"]]},{"id":"c1d9ef739ec17dab","type":"http request","z":"2c9bc31cb6ec841a","g":"c4840814ae1d9c88","name":"Read last entry age","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1461192/feeds/last_data_age.json?api_key=V348J6XOWL2NUB60","tls":"","persist":false,"proxy":"","authType":"","x":1910,"y":660,"wires":[["02620d3304035ba3"]]},{"id":"94cf09fa1a5b026c","type":"json","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":220,"wires":[["fc1207f579bdd37e"]]},{"id":"02620d3304035ba3","type":"json","z":"2c9bc31cb6ec841a","g":"c4840814ae1d9c88","name":"","property":"payload","action":"","pretty":false,"x":1910,"y":700,"wires":[["11fa59b5543a51a0"]]},{"id":"fc1207f579bdd37e","type":"function","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"Filter average data","func":"fields = Object.keys(msg.payload.channel).filter(\n    element => element.includes(\"field\")\n    )\nfields.forEach(fieldIndex => {\n    // So thu tu cua data tren ThingSpeak\n    msg[fieldIndex] = msg.payload.feeds.map(data_entries => {\n        return {\n            \"x\": Date.parse(data_entries.created_at),\n            \"y\": data_entries[fieldIndex]\n        }\n    })\n})\nif (msg.payload.feeds.length !== 0){\n    msg.temperature = `${msg.field1[msg.field1.length - 1].y}`\n    msg.humidity = `${msg.field2[msg.field2.length - 1].y}`\n    msg.dust_density = `${msg.field3[msg.field3.length - 1].y}`\n    msg.air_quality = msg.field4[msg.field4.length - 1].y\n}\nelse {\n    msg.temperature = \"No data\"\n    msg.humidity = \"No data\"\n    msg.dust_density = \"No data\"\n    msg.air_quality = \"No data\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":220,"wires":[["f795ad889676413f","56724273b816f223","4338c13b77678939","659be8f76104a640","2c21283e21d72ced"]]},{"id":"fbc772b2cde0cb91","type":"ui_chart","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"Average Temperature Chart","group":"86ae3d71240d914e","order":3,"width":6,"height":6,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1980,"y":320,"wires":[[]]},{"id":"3d1761ecdf11b6f0","type":"ui_chart","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"Average Humidity Chart","group":"86ae3d71240d914e","order":4,"width":6,"height":6,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1970,"y":360,"wires":[[]]},{"id":"3dad688c0563e201","type":"ui_chart","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"Average Dust density Chart","group":"86ae3d71240d914e","order":5,"width":6,"height":6,"label":"Dust density","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1980,"y":400,"wires":[[]]},{"id":"7ba8498d7028974e","type":"function","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"Preparing chart","func":"if (msg.field1.length !== 0){\n    msg.payload = [{\n        \"series\": [\"dust density\"],\n        \"data\": [msg.field3]\n    }]\n}\nelse {\n    msg.payload = []\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":400,"wires":[["3dad688c0563e201"]]},{"id":"842ba1e7b0c7e90a","type":"function","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"Preparing chart","func":"if (msg.field1.length !== 0){\n    msg.payload = [{\n        \"series\": [\"humidity\"],\n        \"data\": [msg.field2]\n    }]\n}\nelse {\n    msg.payload = []\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":360,"wires":[["3d1761ecdf11b6f0"]]},{"id":"c9ce40cc817b363e","type":"function","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"Preparing chart","func":"if (msg.field1.length !== 0){\n    msg.payload = [{\n        \"series\": [\"temperature\"],\n        \"data\": [msg.field1]\n    }]\n}\nelse {\n    msg.payload = []\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":320,"wires":[["fbc772b2cde0cb91"]]},{"id":"1e4f512341cde16b","type":"ui_chart","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"Average Air quality Chart","group":"86ae3d71240d914e","order":6,"width":6,"height":6,"label":"Air quality","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No data","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1970,"y":440,"wires":[[]]},{"id":"e72cd0dd92eb6dbb","type":"function","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"Preparing chart","func":"if (msg.field1.length !== 0){\n    msg.payload = [{\n        \"series\": [\"air quality\"],\n        \"data\": [msg.field4]\n    }]\n}\nelse {\n    msg.payload = []\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1760,"y":440,"wires":[["1e4f512341cde16b"]]},{"id":"d7ba0a0a910f20fe","type":"ui_template","z":"2c9bc31cb6ec841a","g":"c4840814ae1d9c88","group":"b1c05f6596b26618","name":"Last update","order":5,"width":6,"height":1,"format":"<div>\n    <p><em>{{msg.payload}}</em></p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2010,"y":780,"wires":[[]]},{"id":"11fa59b5543a51a0","type":"function","z":"2c9bc31cb6ec841a","g":"c4840814ae1d9c88","name":"Format string","func":"hour = Math.floor(msg.payload.last_data_age / 60**2);\nminute = Math.floor(msg.payload.last_data_age / 60);\nsecond = msg.payload.last_data_age\nif (hour > 0) {\n    msg.payload = `Last update: ${hour} hour(s) ago`\n}\nelse if (minute > 0) {\n    msg.payload = `Last update: ${minute} minute(s) ago`\n}\nelse {\n    msg.payload = `Last update: ${second} second(s) ago`\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1970,"y":740,"wires":[["d7ba0a0a910f20fe"]]},{"id":"da4b5fe40b065391","type":"ui_date_picker","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"","label":"Choose date","group":"86ae3d71240d914e","order":1,"width":10,"height":1,"passthru":true,"topic":"topic","topicType":"msg","x":310,"y":200,"wires":[["8390b7b810f8c317"]]},{"id":"8390b7b810f8c317","type":"function","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"Set time","func":"date = new Date(msg.payload).toISOString().split('T');\nmsg.date = new Date(msg.payload).toISOString().split('T');\nstartTime = \"00:00:00\"\nendTime = \"23:59:00\"\nmsg.start = [date[0], startTime].join(\" \")\nmsg.end = [date[0], endTime].join(\" \")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":200,"wires":[["29dde913e3250d58"]]},{"id":"44858495f61f435f","type":"switch","z":"2c9bc31cb6ec841a","g":"c4840814ae1d9c88","name":"Check empty feeds","property":"payload.feeds","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":1870,"y":620,"wires":[["c1d9ef739ec17dab"]]},{"id":"f795ad889676413f","type":"change","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"Do nothing 1","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":300,"wires":[[]]},{"id":"9f94b0468da8a2fd","type":"complete","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"Get average data","scope":["f795ad889676413f"],"uncaught":false,"x":1520,"y":380,"wires":[["c9ce40cc817b363e","842ba1e7b0c7e90a","7ba8498d7028974e","e72cd0dd92eb6dbb"]]},{"id":"6027ccab22a19b9f","type":"complete","z":"2c9bc31cb6ec841a","g":"c4840814ae1d9c88","name":"Notice new request","scope":["fc1207f579bdd37e"],"uncaught":false,"x":1490,"y":620,"wires":[["b0bc13f949468e96"]]},{"id":"56724273b816f223","type":"ui_gauge","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"","group":"b1c05f6596b26618","order":2,"width":3,"height":3,"gtype":"donut","title":"Average Humidity","label":"%","format":"{{msg.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"60","className":"","x":1530,"y":140,"wires":[]},{"id":"4338c13b77678939","type":"ui_gauge","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"","group":"b1c05f6596b26618","order":1,"width":3,"height":3,"gtype":"donut","title":"Average Temperature","label":"℃","format":"{{msg.temperature}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"35","x":1540,"y":180,"wires":[]},{"id":"659be8f76104a640","type":"ui_gauge","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"","group":"b1c05f6596b26618","order":3,"width":3,"height":3,"gtype":"donut","title":"Average Dust density","label":"mg/m3","format":"{{msg.dust_density}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3","seg2":"10","className":"","x":1540,"y":220,"wires":[]},{"id":"2c21283e21d72ced","type":"ui_gauge","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"","group":"b1c05f6596b26618","order":4,"width":3,"height":3,"gtype":"donut","title":"Average Air quality","label":"","format":"{{msg.air_quality}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"190","seg2":"300","x":1530,"y":260,"wires":[]},{"id":"11a0618ca53014d6","type":"http request","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","name":"Write sensor data","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1090,"y":1620,"wires":[[]]},{"id":"6d121dfcf195c5a2","type":"function","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","name":"Set POST request","func":"const THINGSPEAK_WRITE_KEY = global.get('THINGSPEAK_WRITE_KEY');\n\nmsg.method = \"POST\"\nmsg.url = \"api.thingspeak.com/update.json\"\nmsg.headers = \"Content-Type: application/json\"\nmsg.payload = \n{ \n    \"api_key\": THINGSPEAK_WRITE_KEY,\n    \"field1\": msg.avg_temperature, \n    \"field2\": msg.avg_humidity, \n    \"field3\": msg.avg_dust_density,\n    \"field4\": msg.avg_air_quality,\n    \"status\": msg.total_status\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":1620,"wires":[["11a0618ca53014d6"]]},{"id":"ac83e8188bf90aab","type":"http request","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"Read last status","method":"use","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":360,"wires":[["bec9c579326e7aca"]]},{"id":"a8e68d77f44f46bc","type":"function","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"Set GET request","func":"const THINGSPEAK_CHANNEL_ID = global.get('THINGSPEAK_CHANNEL_ID');\nconst THINGSPEAK_READ_KEY = global.get('THINGSPEAK_READ_KEY');\nmsg.method = \"GET\"\nmsg.url = `https://api.thingspeak.com/channels/${THINGSPEAK_CHANNEL_ID}/status/last.json`\nmsg.payload = {\n    \"api_key\": THINGSPEAK_READ_KEY,\n    \"timezone\": \"Asia/Bangkok\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":360,"wires":[["ac83e8188bf90aab"]]},{"id":"bec9c579326e7aca","type":"json","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"","property":"payload","action":"","pretty":false,"x":830,"y":360,"wires":[["14fd131a552cd484"]]},{"id":"bfbdf46f152b11db","type":"ui_text","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","group":"3e278ebc97c71d3d","order":1,"width":0,"height":0,"name":"","label":"Total status","format":"{{msg.payload.status}}","layout":"row-spread","x":1150,"y":360,"wires":[]},{"id":"276c6863cc8cb824","type":"rbe","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","name":"Block repeated values","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":380,"y":1620,"wires":[["c18727dde5b32289"]]},{"id":"9e7f57a34a1008bb","type":"delay","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":460,"y":240,"wires":[["29dde913e3250d58"]]},{"id":"a6fd7aa2e851f7aa","type":"ui_button","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"","group":"b1c05f6596b26618","order":6,"width":6,"height":1,"passthru":false,"label":"Update","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Updating...","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":300,"wires":[["9e7f57a34a1008bb","a8e68d77f44f46bc","b04aa68a0f70eb62"]]},{"id":"b04aa68a0f70eb62","type":"ui_toast","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Updating","x":460,"y":280,"wires":[]},{"id":"bb9329283ace51f0","type":"http request","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"Get location","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://ip-api.com/json/","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":960,"wires":[["ffa9fc31457a8171"]]},{"id":"de5c4044.d4e0f","type":"worldmap-tracks","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"","depth":"5","layer":"combined","smooth":false,"x":1090,"y":1000,"wires":[["e0ec963913cbf7a9"]]},{"id":"e0ec963913cbf7a9","type":"ui_worldmap","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","group":"3e278ebc97c71d3d","order":3,"width":0,"height":0,"name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","layers":"hide","panit":"true","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"true","allowFileDrop":"false","path":"/worldmap","x":1240,"y":960,"wires":[]},{"id":"ffa9fc31457a8171","type":"json","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"","property":"payload","action":"","pretty":false,"x":570,"y":960,"wires":[["8ae66a04d71203ef"]]},{"id":"bcdfce19296044e2","type":"ui_button","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"","group":"3e278ebc97c71d3d","order":4,"width":4,"height":1,"passthru":false,"label":"My location","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":960,"wires":[["bb9329283ace51f0"]]},{"id":"41d9ebb7da2aa0d5","type":"function","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"Random location","func":"let curr_lat = msg.payload.lat;\nlet curr_lon = msg.payload.lon;\nmsg.payload = {\n    lat: curr_lat + Math.random() * 0.2,\n    lon: curr_lon + Math.random() * 0.2\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1020,"wires":[["8ae66a04d71203ef"]]},{"id":"dc356280f86f8bf2","type":"ui_button","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"","group":"3e278ebc97c71d3d","order":6,"width":4,"height":1,"passthru":false,"label":"Random my location","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":200,"y":1020,"wires":[["84a7cacb9137eece"]]},{"id":"84a7cacb9137eece","type":"http request","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"Get location","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://ip-api.com/json/","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":1020,"wires":[["c3b23a18cfcb6d37"]]},{"id":"c3b23a18cfcb6d37","type":"json","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"","property":"payload","action":"","pretty":false,"x":570,"y":1020,"wires":[["41d9ebb7da2aa0d5"]]},{"id":"8ae66a04d71203ef","type":"function","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"My location","func":"// Them fa o icon thi khong co dau mui ten\nmsg.payload = {\n    \"name\": \"My location\", \n    // \"area\": [ \n    //     [msg.stop_latitude, msg.stop_longitude], \n    //     [msg.start_latitude, msg.start_longitude],\n    //     [msg.start_latitude, msg.start_longitude]\n    // ],\n    \"lat\":msg.payload.lat, \n    \"lon\":msg.payload.lon,\n    \"icon\":\"crosshairs\",\n    \"iconColor\": \"#F3C677\",\n    \"command\": {\n        \"layer\":\"OSM\",\n        \"lat\":msg.payload.lat,\n        \"lon\":msg.payload.lon,\n        \"zoom\":13\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":960,"wires":[["e0ec963913cbf7a9","de5c4044.d4e0f"]]},{"id":"c2fd9a76915a9861","type":"ui_button","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"","group":"3e278ebc97c71d3d","order":5,"width":4,"height":1,"passthru":false,"label":"My device","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":900,"wires":[["8cceda94fc148d0b"]]},{"id":"8cceda94fc148d0b","type":"function","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"Popup style","func":"let data = flow.get(\"data\");\nmsg.popup = []\ndata.devices.forEach(item => {\n    msg.popup.push(`\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css\" />\n    <style>\n        @keyframes pulse{\n        \t0% {box-shadow: 0 0 0 0em currentcolor;}\n        \t25% {box-shadow: 0 0 0 0.25em currentcolor;}\n        \t50% {box-shadow: 0 0 0 0.5em currentcolor;}\n        \t75% {box-shadow: 0 0 0 0.25em currentcolor;}\n        \t100% {box-shadow: 0 0 0 0.15em currentcolor;}\n        }\n        .container {\n            display:flex;\n            justify-content:space-between;\n            align-items:center;\n        }\n        .blink {\n            font-size:1.6em;\n            border-radius:50%;\n            position:relative !important;\n            line-height:0;\n            display:flex;\n            align-items:center;\n            justify-content:center;\n            width:40px;\n            height:40px;\n            float:right;\n        }\n        .blink::before {\n            content:\"\";\n            border-radius: inherit;\n            position:absolute;\n            inset: 0;\n            background-color:currentcolor;\n            opacity:0.3;\n            animation: pulse 1s infinite;\n        }\n        .popup {\n            padding:5px;\n            background: #e0e0e0;\n            box-shadow: 20px 20px 60px #bebebe,-20px -20px 60px #ffffff;\n        }\n    </style>\n    \n    <p class='popup'>\n        Status: ${item.status || 'Please update'}<br/>Lat: ${item.latitude}<br/>Lon: ${item.longitude}\n    </p>\n    <span>\n        Working\n    </span>\n    <div class='blink' style=color:${(item.working === true) ? \"green\" : \"tomato\"};><i class=\"fas fa-crosshairs\"></i></div>\n    `)\n})\n// Khong the xai chung main css duoc :(\n//Vi moi div blink co mau khac nhau nen phai xai inline style\n// #blink float right khong phai left\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":900,"wires":[["d344949083380c4a"]]},{"id":"14fd131a552cd484","type":"change","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"","rules":[{"t":"set","p":"status","pt":"flow","to":"payload.status","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":360,"wires":[["bfbdf46f152b11db"]]},{"id":"7aad57c3dfb36f6a","type":"ui_template","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","group":"4d8692ba016dd19c","name":"Device working status","order":2,"width":8,"height":2,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1100,"y":1440,"wires":[[]]},{"id":"b0bc13f949468e96","type":"change","z":"2c9bc31cb6ec841a","g":"c4840814ae1d9c88","name":"Clean unused","rules":[{"t":"set","p":"method","pt":"msg","to":"","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1680,"y":620,"wires":[["44858495f61f435f"]]},{"id":"10ef0accc3d74b8b","type":"mqtt in","z":"2c9bc31cb6ec841a","g":"b3bc47b3d01f6db2","name":"MQTT in","topic":"Air_Tracking/Notification","qos":"2","datatype":"auto","broker":"b50e474d.3eb278","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":620,"wires":[["623524b6303276ef"]]},{"id":"f63e543568e34733","type":"json","z":"2c9bc31cb6ec841a","g":"b3bc47b3d01f6db2","name":"","property":"payload","action":"obj","pretty":false,"x":350,"y":580,"wires":[[]]},{"id":"623524b6303276ef","type":"json","z":"2c9bc31cb6ec841a","g":"b3bc47b3d01f6db2","name":"","property":"payload","action":"","pretty":false,"x":350,"y":620,"wires":[["8b322ac8d5e7e70c"]]},{"id":"2de09eec5c8b46ef","type":"function","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Prepare dropdown","func":"msg.options = msg.payload.devices.map(item => {\n    return item.name;\n})\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":1260,"wires":[["bfb0d161425a77cd"]]},{"id":"b77cc0c482c7eada","type":"inject","z":"2c9bc31cb6ec841a","g":"b3bc47b3d01f6db2","name":"MQTT emulator","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"devices\":[{\"id\":\"1\",\"air_quality\":76,\"dust_density\":8,\"humidity\":36,\"latitude\":10.8101333,\"longitude\":106.9743494,\"name\":\"Place 1\",\"status\":\"Normal\",\"temperature\":28,\"working\":true},{\"id\":\"2\",\"air_quality\":80,\"dust_density\":5,\"humidity\":26,\"latitude\":10.7630343,\"longitude\":106.97893,\"name\":\"Place 2\",\"status\":\"Normal\",\"temperature\":33,\"working\":true},{\"id\":\"3\",\"air_quality\":50,\"dust_density\":1,\"humidity\":39,\"latitude\":10.8490481,\"longitude\":106.957273,\"name\":\"Place 3\",\"status\":\"Normal\",\"temperature\":25,\"working\":false}]}","payloadType":"json","x":200,"y":580,"wires":[["f63e543568e34733"]]},{"id":"bfb0d161425a77cd","type":"ui_dropdown","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"","label":"Select device","tooltip":"","place":"Select option","group":"4d8692ba016dd19c","order":1,"width":8,"height":1,"passthru":true,"multiple":false,"options":[],"payload":"","topic":"topic","topicType":"msg","x":430,"y":1260,"wires":[["a16b9b2e295039c9"]]},{"id":"351deff897ebb3f3","type":"ui_gauge","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Device Humidity","group":"4d8692ba016dd19c","order":5,"width":4,"height":4,"gtype":"donut","title":"Humidity {{msg.payload}}","label":"%","format":"{{msg.humidity}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"60","x":1080,"y":1160,"wires":[]},{"id":"57fc5be9065b3562","type":"ui_gauge","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Device Temperature","group":"4d8692ba016dd19c","order":4,"width":4,"height":4,"gtype":"donut","title":"Temperature {{msg.payload}}","label":"℃","format":"{{msg.temperature}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"35","x":1100,"y":1200,"wires":[]},{"id":"3462d5db93be1d8e","type":"ui_gauge","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Device Dust Density","group":"4d8692ba016dd19c","order":6,"width":4,"height":4,"gtype":"donut","title":"Dust density {{msg.payload}}","label":"mg/m3","format":"{{msg.dust_density}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"3","seg2":"10","x":1100,"y":1240,"wires":[]},{"id":"5709011f81c05b11","type":"ui_gauge","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Device Air Quality","group":"4d8692ba016dd19c","order":7,"width":4,"height":4,"gtype":"donut","title":"Air quality {{msg.payload}}","label":"","format":"{{msg.air_quality}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"190","seg2":"300","x":1090,"y":1280,"wires":[]},{"id":"a16b9b2e295039c9","type":"function","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Filter  selected device","func":"let option = msg.payload;\nlet data = flow.get(\"data\");\nlet device_data = data.devices.filter(item => item.name === option)\n// Boi vi device_data la mot mang moi dc tao tu ham filter\nmsg.temperature = device_data[0].temperature;\nmsg.humidity = device_data[0].humidity;\nmsg.dust_density = device_data[0].dust_density;\nmsg.air_quality = device_data[0].air_quality;\nmsg.working = device_data[0].working;\nmsg.name = device_data[0].name;\nmsg.status = device_data[0].status;\nmsg.id= device_data[0].id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1260,"wires":[["29e9df06067a7d44"]]},{"id":"8b322ac8d5e7e70c","type":"change","z":"2c9bc31cb6ec841a","g":"b3bc47b3d01f6db2","name":"","rules":[{"t":"set","p":"data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":620,"wires":[[]]},{"id":"d344949083380c4a","type":"function","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"Prepare map","func":"let data = flow.get(\"data\");\nmsg.payload = data.devices.map((item, index) => {\n    return {\n        \"name\": item.name,\n        \"lat\": item.latitude, \n        \"lon\": item.longitude,\n        \"icon\": \"home\",\n        \"radius\": 500,\n        \"popped\": true,\n        \"popup\": msg.popup[index],\n        \"command\": {\n            \"layer\":\"OSM\",\n            \"lat\": item.latitude,\n            \"lon\": item.longitude,\n            \"zoom\":12\n        }\n    }\n})\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":900,"wires":[["e0ec963913cbf7a9"]]},{"id":"4449cc9ff650b8c0","type":"complete","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Receive MQTT","scope":["8b322ac8d5e7e70c"],"uncaught":false,"x":180,"y":1200,"wires":[["2de09eec5c8b46ef"]]},{"id":"832f13eb2fb48801","type":"complete","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","name":"Receive MQTT","scope":["8b322ac8d5e7e70c"],"uncaught":false,"x":180,"y":1620,"wires":[["276c6863cc8cb824"]]},{"id":"81936b2f222a8b57","type":"complete","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"MQTT Trigger","scope":["8b322ac8d5e7e70c"],"uncaught":false,"x":170,"y":360,"wires":[["a8e68d77f44f46bc"]]},{"id":"02d822aa3dd885ef","type":"complete","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"MQTT Trigger","scope":["8b322ac8d5e7e70c"],"uncaught":false,"x":170,"y":240,"wires":[["9e7f57a34a1008bb"]]},{"id":"f38d59a00cf8c176","type":"comment","z":"2c9bc31cb6ec841a","name":"Send data to ThingSpeak and send warning","info":"","x":250,"y":1560,"wires":[]},{"id":"f96abec6cf68d3cb","type":"comment","z":"2c9bc31cb6ec841a","g":"c4840814ae1d9c88","name":"Read last entry age from ThingSpeak","info":"","x":1550,"y":580,"wires":[]},{"id":"fbb03b3932f59d95","type":"comment","z":"2c9bc31cb6ec841a","name":"Reload map","info":"","x":150,"y":720,"wires":[]},{"id":"e51160663d6d8674","type":"comment","z":"2c9bc31cb6ec841a","name":"Select device and change working status","info":"","x":240,"y":1100,"wires":[]},{"id":"7df19c28f4e2f349","type":"comment","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"Read all fields from ThingSpeak","info":"","x":690,"y":180,"wires":[]},{"id":"fedd423739f5624e","type":"comment","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"Read status from ThingSpeak","info":"","x":520,"y":320,"wires":[]},{"id":"bca8d12501eaa10e","type":"ui_switch","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"","label":"Device switch","tooltip":"","group":"4d8692ba016dd19c","order":3,"width":8,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1300,"y":1320,"wires":[["b892f8d1e0fa017e"]]},{"id":"3101f54977960978","type":"change","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Send working status","rules":[{"t":"set","p":"payload","pt":"msg","to":"working","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1320,"wires":[["bca8d12501eaa10e"]]},{"id":"b892f8d1e0fa017e","type":"function","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Apply changes","func":"let data = flow.get(\"data\");\nlet working_state = msg.payload;\nlet select_device = flow.get(\"select_device_id\");\nmsg.changed = false;\nfor (let i = 0; i < data.devices.length; i++) {\n    if (data.devices[i].working !== working_state && data.devices[i].id === select_device) {\n        data.devices[i].working = working_state;\n        msg.working = working_state;\n        msg.name = data.devices[i].name;\n        msg.changed = true;\n    }\n}\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":1360,"wires":[["0d2c59e4d06c3c4f"]]},{"id":"29e9df06067a7d44","type":"change","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"","rules":[{"t":"set","p":"select_device_id","pt":"flow","to":"id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1260,"wires":[["351deff897ebb3f3","57fc5be9065b3562","3462d5db93be1d8e","5709011f81c05b11","7aad57c3dfb36f6a","3101f54977960978"]]},{"id":"0d2c59e4d06c3c4f","type":"switch","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Check working change","property":"changed","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1400,"y":1400,"wires":[["ca35be109f0515d6"]]},{"id":"0abf075bc20480ec","type":"mqtt out","z":"2c9bc31cb6ec841a","g":"15807419e413739d","name":"MQTT out","topic":"Air_Tracking/Notification","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"b50e474d.3eb278","x":1640,"y":1440,"wires":[]},{"id":"a396b50bedb46f9c","type":"complete","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Working status changed","scope":["ca35be109f0515d6"],"uncaught":false,"x":400,"y":1400,"wires":[["2f68ae41244e3466"]]},{"id":"ca35be109f0515d6","type":"change","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Do nothing 2","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":1440,"wires":[["0abf075bc20480ec"]]},{"id":"9dfaef7bf675ce2b","type":"complete","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"Working status changed","scope":["ca35be109f0515d6"],"uncaught":false,"x":200,"y":860,"wires":[["8cceda94fc148d0b"]]},{"id":"ad3fae3a4a8001f8","type":"comment","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"Plot average values","info":"","x":1530,"y":340,"wires":[]},{"id":"c18727dde5b32289","type":"function","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","name":"Cal average&Check status","func":"let sum_temperature = 0;\nlet sum_humidity = 0;\nlet sum_dust_density = 0;\nlet sum_air_quality = 0;\nmsg.payload.devices.forEach(item => {\n    sum_temperature += item.temperature;\n    sum_humidity += item.humidity;\n    sum_dust_density += item.dust_density;\n    sum_air_quality += item.air_quality;\n\n})\nmsg.avg_temperature = Math.floor(sum_temperature / msg.payload.devices.length);\nmsg.avg_humidity = Math.floor(sum_humidity / msg.payload.devices.length);\nmsg.avg_dust_density = Math.floor(sum_dust_density / msg.payload.devices.length);\nmsg.avg_air_quality = Math.floor(sum_air_quality / msg.payload.devices.length);\n\nmsg.total_status = \"Normal\";\nmsg.payload.devices.forEach(item => {\n    if (item.status !== \"Normal\") {\n        msg.total_status = item.status;\n        msg.dangerous_device_name = item.name;\n        msg.dangerous_device_status = item.status;\n    }\n})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":1620,"wires":[["6d121dfcf195c5a2","e456a18a21bd308c"]]},{"id":"e456a18a21bd308c","type":"switch","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","name":"Dangerous status","property":"total_status","propertyType":"msg","rules":[{"t":"neq","v":"Normal","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":1680,"wires":[["02cc312dfbd0efb2","c7272045d027341e","9b29702871540553"],["c2d6064839c896a6"]]},{"id":"74b01f43e12dd0a7","type":"ui_toast","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","position":"top right","displayTime":"5","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Status noti","x":1230,"y":1680,"wires":[]},{"id":"02cc312dfbd0efb2","type":"function","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","name":"Set POST request","func":"const IFTTT_URL = global.get('IFTTT_URL');\n\nmsg.method = \"POST\"\nmsg.url = IFTTT_URL\nmsg.headers = \"Content-Type: application/json\"\nmsg.payload = \n{ \n    \"value1\": `Device: ${msg.dangerous_device_name} is dangerous. Status: ${msg.dangerous_device_status}.`\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":1740,"wires":[["da52db772d70e7a0"]]},{"id":"da52db772d70e7a0","type":"http request","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","name":"Send to IFTTT","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1240,"y":1740,"wires":[[]]},{"id":"a88f88773b249e30","type":"inject","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","name":"Fake dangerous status","props":[{"p":"dangerous_device_name","v":"device1","vt":"str"},{"p":"dangerous_device_status","v":"Temperature is too hot","vt":"str"},{"p":"total_status","v":"Temperature is too hot","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":440,"y":1720,"wires":[["e456a18a21bd308c"]]},{"id":"c7272045d027341e","type":"function","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","name":"Format noti string","func":"msg.payload = `Device: ${msg.dangerous_device_name} is dangerous. Status: ${msg.dangerous_device_status}.`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":1680,"wires":[["74b01f43e12dd0a7"]]},{"id":"86b8faef6f530d52","type":"ui_template","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","group":"3e278ebc97c71d3d","name":"Dangerous device status","order":2,"width":8,"height":2,"format":"","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1290,"y":1800,"wires":[[]]},{"id":"a783a5548895afa4","type":"ui_template","z":"2c9bc31cb6ec841a","g":"c491f8a96912ebeb","group":"3e278ebc97c71d3d","name":"Main css","order":7,"width":1,"height":1,"format":"<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css\" />\n\n<style>\n    @font-face {\n        font-family: \"IBM Plex Mono\",\n        src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');\n    }\n    @keyframes pulse{\n    \t0% {box-shadow: 0 0 0 0em currentcolor;}\n    \t25% {box-shadow: 0 0 0 0.25em currentcolor;}\n    \t50% {box-shadow: 0 0 0 0.5em currentcolor;}\n    \t75% {box-shadow: 0 0 0 0.25em currentcolor;}\n    \t100% {box-shadow: 0 0 0 0.15em currentcolor;}\n    }\n    /** {*/\n    /*    font-family: 'JetBrains Mono', monospace;*/\n    /*}*/\n    .container {\n        display:flex;\n        justify-content:space-between;\n        align-items:center;\n        position: absolute;\n        top: 50%;\n        transform: translateY(-50%);\n        width: 100%;\n        padding: 20px;\n        box-sizing: border-box;\n    }\n    .blink {\n        font-size:1.6em;\n        border-radius:50%;\n        position:relative !important;\n        line-height:0;\n        display:flex;\n        align-items:center;\n        justify-content:center;\n        width:40px;\n        height:40px;\n    }\n    .blink::before {\n        content:\"\";\n        border-radius: inherit;\n        position:absolute;\n        inset: 0;\n        background-color:currentcolor;\n        opacity:0.3;\n        animation: pulse 1s infinite;\n    }\n    .popup {\n        padding:5px;\n        background: #e0e0e0;\n        box-shadow: 20px 20px 60px #bebebe,-20px -20px 60px #ffffff;\n    }\n    .nr-dashboard-template {\n        box-sizing:border-box;\n        padding:0;\n    }\n    .panel{\n        text-align:center;\n        font-size:2em;\n    }\n    .panel::before {\n        content:\"\";\n        position:absolute;\n        inset: 0;\n        background-image: url(\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%230099ff' fill-opacity='1' d='M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E\");\n        background-repeat:no-repeat;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":720,"y":620,"wires":[[]]},{"id":"9b29702871540553","type":"function","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","name":"Dangerous template","func":"msg.template = `\n<div class=\"container\">\n    <div class='status'>Device: {{msg.dangerous_device_name}} is dangerous. Status: {{msg.dangerous_device_status}}.</div>\n    <div class='blink' style='color:#e4b507;'><i class=\"fas fa-warning\"></i></div>\n</div>\n`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":1780,"wires":[["86b8faef6f530d52"]]},{"id":"21badc4e77f267cb","type":"inject","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","name":"Fake normal status","props":[{"p":"total_status","v":"Normal","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":430,"y":1760,"wires":[["e456a18a21bd308c"]]},{"id":"c2d6064839c896a6","type":"function","z":"2c9bc31cb6ec841a","g":"b06f557ea8665b15","name":"Normal template","func":"msg.template = `\n<p class=\"panel\">All devices seems fine ~.~</p>\n`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":1820,"wires":[["86b8faef6f530d52"]]},{"id":"2f68ae41244e3466","type":"function","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Device selected template","func":"msg.template = `\n<div class=\"container\">\n    <div>${msg.name} ${(msg.working === true) ? \"is\" : \"isn't\"} working (${(msg.working === true) ? \"turned on\" : \"turned off\"})</div>\n    <div class=\"blink\" style='color:${(msg.working === true) ? \"green\" : \"tomato\"};'><i class=\"fas fa-crosshairs\"></i></div>\n</div>`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1400,"wires":[["7aad57c3dfb36f6a"]]},{"id":"6683a4286808e956","type":"ui_template","z":"2c9bc31cb6ec841a","d":true,"g":"c491f8a96912ebeb","group":"3e278ebc97c71d3d","name":"Example (Don't use)","order":8,"width":1,"height":1,"format":"<div class=\"container\">\n    <div>{{msg.name}} {{(msg.working === true) ? \"is\" : \"isn't\"}} working ({{(msg.working === true) ? \"turned on\" : \"turned off\"}})</div>\n    <div class=\"blink\" style='color:{{(msg.working === true) ? \"green\" : \"tomato\"}};'><i class=\"fas fa-crosshairs\"></i></div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":760,"y":580,"wires":[[]]},{"id":"eeda7de2dd84cee6","type":"function","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"No device selected template","func":"msg.template = `\n<p class=\"panel\">No device selected ~.~</p>\n`\n// Lay tu Normal template\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1480,"wires":[["7aad57c3dfb36f6a"]]},{"id":"4dfc1b0a07a0a5e3","type":"inject","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Inject template for no device","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":380,"y":1480,"wires":[["eeda7de2dd84cee6"]]},{"id":"9f5da12acb61d772","type":"complete","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Device selected","scope":["3101f54977960978"],"uncaught":false,"x":380,"y":1360,"wires":[["2f68ae41244e3466"]]},{"id":"093832edeab62ead","type":"complete","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"Receive MQTT","scope":["8b322ac8d5e7e70c"],"uncaught":false,"x":180,"y":780,"wires":[["8cceda94fc148d0b"]]},{"id":"1ed368b3cb25d3d2","type":"comment","z":"2c9bc31cb6ec841a","g":"706ca2ff8761a004","name":"MQTT Trigger acts like inject node with interval","info":"","x":280,"y":400,"wires":[]},{"id":"38dabeb13b231451","type":"comment","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"Catch Do nothing 1 event","info":"","x":1510,"y":420,"wires":[]},{"id":"67544703c49b59a2","type":"comment","z":"2c9bc31cb6ec841a","g":"aecd6d22fcbbabb6","name":"Catch Do nothing 2 event","info":"","x":210,"y":820,"wires":[]},{"id":"e3a76ac3fae7f699","type":"comment","z":"2c9bc31cb6ec841a","g":"c4840814ae1d9c88","name":"Catch Filter average data event","info":"","x":1530,"y":660,"wires":[]},{"id":"326adc5901095e88","type":"comment","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Catch Do nothing 2 event","info":"","x":390,"y":1440,"wires":[]},{"id":"56519b09968589c0","type":"comment","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"Catch working status event","info":"","x":370,"y":1320,"wires":[]},{"id":"a01319987b49fa5e","type":"comment","z":"2c9bc31cb6ec841a","name":"MQTT","info":"","x":130,"y":480,"wires":[]},{"id":"eca20a8c7b59f19e","type":"comment","z":"2c9bc31cb6ec841a","name":"Read data from ThingSpeak","info":"","x":200,"y":120,"wires":[]},{"id":"27052cf8d007731f","type":"comment","z":"2c9bc31cb6ec841a","name":"Manipulate data from ThingSpeak","info":"","x":1510,"y":80,"wires":[]},{"id":"70eb5f443230c7e9","type":"comment","z":"2c9bc31cb6ec841a","name":"MQTT","info":"","x":1620,"y":1380,"wires":[]},{"id":"b839eef734c6bde2","type":"comment","z":"2c9bc31cb6ec841a","name":"Styling & Examples","info":"","x":730,"y":520,"wires":[]},{"id":"f4f0660c9fe2a77a","type":"comment","z":"2c9bc31cb6ec841a","name":"Read data from ThingSpeak","info":"","x":1500,"y":520,"wires":[]},{"id":"0f1506fa5972845e","type":"comment","z":"2c9bc31cb6ec841a","g":"b3bc47b3d01f6db2","name":"MQTT testing","info":"To simulate an MQTT signal.","x":190,"y":540,"wires":[]},{"id":"cde6f1e06d571ef7","type":"comment","z":"2c9bc31cb6ec841a","g":"8a6fdee3dd680637","name":"About Do nothing nodes","info":"Do nothing nodes just a placeholder to trigger 'complete node'","x":1780,"y":280,"wires":[]},{"id":"e8d0f13d6b8538ab","type":"comment","z":"2c9bc31cb6ec841a","g":"e904b498183f94bb","name":"About Do nothing nodes","info":"Do nothing nodes just a placeholder to trigger 'complete node'","x":1380,"y":1480,"wires":[]},{"id":"262267dc937f26c9","type":"inject","z":"2c9bc31cb6ec841a","g":"e56329a450463e8c","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":1010,"y":580,"wires":[["0cdf7a08ee95fb2c"]]},{"id":"0cdf7a08ee95fb2c","type":"change","z":"2c9bc31cb6ec841a","g":"e56329a450463e8c","name":"Load environment variables","rules":[{"t":"set","p":"THINGSPEAK_CHANNEL_ID","pt":"global","to":"","tot":"str"},{"t":"set","p":"THINGSPEAK_WRITE_KEY","pt":"global","to":"","tot":"str"},{"t":"set","p":"THINGSPEAK_READ_KEY","pt":"global","to":"","tot":"str"},{"t":"set","p":"IFTTT_URL","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":580,"wires":[[]]},{"id":"ae7a4e8c32d99c0b","type":"comment","z":"2c9bc31cb6ec841a","name":"Load ENV vars","info":"Just like loading .env file, we inject environment variables to flows variables, then read those later.","x":1000,"y":520,"wires":[]},{"id":"a30caaf53c8e6d07","type":"comment","z":"2c9bc31cb6ec841a","name":" ⚠️⚠️⚠️ README","info":"- First, edit values in node `Load environment variables`\n- Second, go to each MQTT nodes to edit server URL, topics...\n- Change colors, web title in `dashboard`\n- If you don't have MQTT, you can connect node `MQTT emulator` to inject sample/fake data.","x":1000,"y":660,"wires":[]},{"id":"86ae3d71240d914e","type":"ui_group","name":"Chart Data","tab":"1ffdebc17aa1d255","order":2,"disp":true,"width":12,"collapse":false},{"id":"b1c05f6596b26618","type":"ui_group","name":"Sensored Data","tab":"1ffdebc17aa1d255","order":1,"disp":true,"width":6,"collapse":false},{"id":"3e278ebc97c71d3d","type":"ui_group","name":"Status","tab":"1ffdebc17aa1d255","order":3,"disp":true,"width":8,"collapse":false},{"id":"4d8692ba016dd19c","type":"ui_group","name":"Device data","tab":"1ffdebc17aa1d255","order":4,"disp":true,"width":8,"collapse":false},{"id":"b50e474d.3eb278","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1ffdebc17aa1d255","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":6,"disabled":false,"hidden":false}]
